@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/*アコーディオンメニュー*/
#menu-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1px;
    background-color: #fff;
    outline: initial;
}

#inn {
    position: relative;
    width: 100%;
    height: 100;
    display: block;
}

.accordion {
    /* 開閉する要素 */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 300px;
    position: relative;
    width: 100%;
}

.accordion-title {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

.accordion-content {
    /* 開閉する要素 */
    display: none;

}

/*投稿ボタン*/
.Trash {
    height: 25px;
    top: 10px;
}

/*投稿表示*/
li {
    list-style: none;
    border: bottom 1px solid #000;
    display: flex;
}

.post-content {
    width: 90%;
    padding: 15px;
}

.post-content>div {
    display: flex;
    justify-content: space-between;
}

.post-name {
    margin-bottom: 10px;
}

/*投稿編集*/
.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100yh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal_bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%), translateY(-50%);
    width: 60%;
}

/*更新ボタン*/
.Update {
    height: 25px;
    top: 10px;
}

/*削除ボタン*/
.Trash {
    height: 25px;
    top: 10px;
}
